{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

{% comment %} {%- if link.current %}
  class="header__active-menu-item"
{% endif %} {% endcomment %}

{% comment %} This is a simple hack in place of product/category images - and without using metafields to associate images with menu items {% endcomment %}
{% assign images = "" %}
{% for i in (1..6) %}
  {% case i %}
    {% when 1 %}
      {% assign image_url = 'menuitem-1.png' %}
    {% when 2 %}
      {% assign image_url = 'menuitem-2.png' %}
    {% when 3 %}
      {% assign image_url = 'menuitem-3.svg' %}
    {% when 4 %}
      {% assign image_url = 'menuitem-4.svg' %}
    {% when 5 %}
      {% assign image_url = 'menuitem-5.png' %}
    {% when 6 %}
      {% assign image_url = 'menuitem-6.png' %}
  {% endcase %}
  
  {% assign images = images | append: image_url %}
  {% if forloop.last == false %}
    {% assign images = images | append: ',' %}
  {% endif %}
{% endfor %}

{% assign images_array = images | split: ',' %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <div class="header__menu-item-wrapper">
              <button
                id="HeaderMenu-{{ link.handle }}"
                class="header__main-menu-item list-menu__item link focus-inset"
                aria-expanded="false"
                aria-haspopup="true"
                aria-controls="HeaderMenu-MenuList-{{ forloop.index }}"
              >
                <span>{{- link.title | escape -}}</span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </button>

              <div id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__dropdown-area" hidden>
                <div class="header__submenu-wrapper">

                  <ul class="header__submenu-column header__submenu list-menu" role="list">
                    {%- for childlink in link.links -%}
                      <li>
                        <button
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                          aria-expanded="false"
                          aria-controls="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </button>
                      </li>
                    {%- endfor -%}
                  </ul>

                  <div class="header__grandchild-column">
                    {%- for childlink in link.links -%}
                      <ul
                        id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}"
                        class="header__submenu-grandchildren list-menu {%  if forloop.first %}show{%  endif %}"
                        {% if forloop.first %}data-default="true"{% endif %}
                        {% unless forloop.first %}hidden{% endunless %}
                      >
                        
                        <div class="header__grandchild-image-wrapper">
                          <img src="{{ images_array[forloop.index0] | asset_url }}" width="auto" height="140px" alt="Menu item image">
                        </div>

                        {%- if childlink.links != blank -%}
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large"
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        {%- endif -%}

                        <li class="header__view-all-link">
                          <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large">
                            <span>View all</span>
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </a>
                        </li>
                        
                      </ul>
                    {%- endfor -%}
                  </div>

                </div>
              </div>
            </div>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__main-menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span>
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
